<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
</head>
<body ng-app="BooksApp">
  <div class="main">
    <div ng-view></div>
  </div>

  <!-- Modules -->
  <script src="static/js/app.js"></script>

  <!-- Controllers -->
  <script src="static/js/controllers/BookShelfController.js"></script>
  <script src="static/js/controllers/BookController.js"></script>

  <!-- Services -->
</body>
</html>